In [1]:
import numpy as np
import pandas as pd

In [2]:
geo =  []
li =[]
for i in open('data.txt', errors="ignore"):
    if (i.split(":"))[0]=="Geo-coordinates":
        geo.append(i.split(":")[1].strip('\n'))

# we are taking geo coordinates as the base for the no. of the values
parti=[None]*len(geo)
prog = [None]*len(geo)
coll=[None]*len(geo)
#Now dividing the data according to the geo coordinates
l=[]
b=[]
f = open('data.txt',"r", errors="ignore")
d= f.readlines()
for i in d:
    if "Geo-coordinates" in i:
        b.append(l)
        l=[]
        continue
    else:
        l.append(i) 
#b contains divided data wrt the geo coordinates
lis=[]
j=[]
for line in b:
     for i in line:
       lis.append((i.split(":")))
     j.append(lis)
     lis=[] 
for ik in range(len(j)):
    for i in j[ik]:
        if i[0]=="Total Participants":
             parti[ik]=(int(i[1].strip('\n')))
        if i[0]=="Type of programme":
              prog[ik]=(i[1].strip('\n'))
        if i[0]=="College/University":
            coll[ik]=(i[1].strip('\n'))
        
data = {"Geo-coordinates":geo, "Total Participants":parti,"Type of programme":prog,"College/University":coll}
df = pd.DataFrame(data = data)

In [3]:
l=df.loc[:,"Total Participants"]
cord=df.loc[:,"Geo-coordinates"]
type_program=df.loc[:,"Type of programme"]
college=df.loc[:,"College/University"]

In [4]:
from math import cos, asin, sqrt, pi

#All distance are in km
def distance(lat1, lon1, lat2, lon2):
    p = pi/180
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p) * cos(lat2*p) * (1-cos((lon2-lon1)*p))/2
    return 12742 * asin(sqrt(a)) #2*R*asin...

def near_location(lon2,lat2):
    threshold_dist=1
    loc=[]
    i=0
    minimum=1e9
    index=-1
    n=len(cord)
    while(i<n):
        long=""
        lati=""
        j=0
        a=cord[i]
        while(a[j]!=','):
            lati=lati+a[j]
            j=j+1
        j=j+1
        while(j<len(cord[i])):
            long=long+a[j]
            j=j+1
        long=float(long)
        lati=float(lati)
        dist=distance(lati,long,lat2,lon2)
        loc.append(dist)
        if(dist<minimum):
            minimum=dist
            index=i
        i=i+1
    n=len(loc)
    threshold_parti=l[index]+50
    for i in range(0,n):
        if(abs(minimum-loc[i])<=threshold_dist):
            if(l[i]>=threshold_parti):
                index=i
    return index

In [5]:
lat1=23.564532
long1=34.463524
min_index=near_location(long1,lat1)
answer=[]
answer.append(cord[min_index])
answer.append(type_program[min_index])
if(college[min_index]!=None):
    answer.append(college[min_index])
print(answer)

[' 30.1466639,74.1988788                              ', ' Session/Lecture                              ', " GOVT GIRL'S SCHOOL ABOHAR                              "]

In [6]:
def more_partication():
    n=len(l)
    maximum=-1
    index=-1
    for i in range(0,n):
        if(maximum<l[i]):
            maximum=l[i]
            index=i
    return index

In [7]:
index=more_partication()
answer=[]
answer.append(cord[index])
answer.append(l[index])
answer.append(type_program[index])
if(college[index]!=None):
    answer.append(college[index])
print(answer)

[' 30.1466639,74.1988788                              ', 300.0, ' Session/Lecture                              ', " GOVT GIRL'S SCHOOL ABOHAR                              "]

In [8]:
df

,Geo-coordinates,Total Participants,Type of programme,College/University
0,"30.1469697,74.1985536 ...",2.0,Session/Lecture,aadharshila school abohar ...
1,"30.1421379,74.1922959 ...",200.0,Sports,None
2,"30.1451374,74.1997727 ...",150.0,Session/Lecture,NEW ANMOL PUBLIC SCHOOL ...
3,"30.1469714,74.1985528 ...",150.0,Session/Lecture,GOVT BRANCH SCHOOL ABOHAR ...
4,"30.1469436,74.1986144 ...",NaN,None,None
5,"30.1472945,74.1941705 ...",30.0,Event programme,None
6,"30.1467164,74.1988895 ...",4.0,None,None
7,"30.1466639,74.1988788 ...",300.0,Session/Lecture,GOVT GIRL'S SCHOOL ABOHAR ...
8,"29.6270058,74.2870469 ...",35.0,Sports,None
9,"29.6270058,74.2870469 ...",35.0,Sports,None
10,"30.1469675,74.1985549 ...",70.0,Sports,None
11,"30.1466979,74.1988678 ...",20.0,Event programme,None
12,"30.1466979,74.1988678 ...",20.0,Sports,None
13,"30.1466979,74.1988678 ...",20.0,Sports,None
14,"30.1466979,74.1988678 ...",20.0,Sports,None
15,"30.1466979,74.1988678 ...",20.0,Sports,None
16,"30.1469492,74.1985996 ...",200.0,Session/Lecture,DAV BED COLLEGE
17,"30.1469492,74.1985996 ...",200.0,Session/Lecture,DAV BED COLLEGE
18,"30.1469545,74.1985848 ...",20.0,None,None
19,"30.1469545,74.1985848 ...",20.0,None,None
20,"30.1462372,74.2001396 ...",80.0,Session/Lecture,None
21,"30.1462372,74.2001396 ...",80.0,Session/Lecture,None
22,"30.1450923,74.1994058 ...",50.0,Sports,None
23,"30.1473228,74.1942045 ...",100.0,Session/Lecture,SHRI GURU NANAK AV SCHOOL ...
24,"30.1473228,74.1942045 ...",100.0,Session/Lecture,SHRI GURU NANAK AV SCHOOL ...